<!DOCTYPE html>
<html>
    <head>
        <title>
            {{title}}
        </title>
        <link rel="stylesheet" href="/stylesheet/styles.css">
    </head>
    <body>
        <h1>Login Page</h1>
        <div>
            <form id="Login-form">
                <label>Email</label>
                <input type="text" id="emailID" placeholder="Email" required>
                <br>
                <label>Password</label>
                <input type="text" id="pw" placeholder="Password" required>
                <br>
                <button>Login</button>
            </form>
        </div> 
        <a href="/addUser">Signup</a>
        <script src="/js/login.js"></script>
    </body>
</html>
