<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <body>
        <h1>{{title}}</h1>
        <div class="details">
            <p><strong>Name: </strong>{{name}}</p>
            <p><strong>Email: </strong>{{email}}</p>
            <p><strong>Membership Points: </strong>{{membershipPoints}}</p>
        </div>
        <div>
            <button id="logout">logout</button>
            <button id="products">Show Products</button>
            <button id="add">Add Product</button>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <script src="/js/profile.js"></script>
    </body>
</html>