<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{title}}
        <div class="Signup-form" action="/signup" method="POST">
            <form id="Signup-form"> 
            <label>Email</label>
            <input type="text" name="email" placeholder="Email" required>
            <label>Password</label>
            <input type="text" name="password" placeholder="Password" required>
            <label>Name</label>
            <input type="text" name="name" placeholder="Name" required>
            <button>Signup</button>
        </form>
        <p id=message></p>
        </div>
        <script src="/app.js"></script>
    </body>
</html>